.main {
  margin: auto;
  max-width: 1240px;
  padding: 20px;
}

.main > :nth-child(n):not(:last-child) {
  margin-bottom: 20px;
}
.container {
  display: grid;
  gap: 20px;
}

@media (min-width: 992px) {
  .container {
    grid-template-columns: 5fr 2fr;
  }
}

.title {
  margin-bottom: 30px;
}

.services {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, 1fr);

  gap: 20px;
}

@media (min-width: 576px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .services {
    grid-template-columns: repeat(3, 1fr);
  }
}

.titleTotal {
  margin-top: 10px;
}
